/* --blue: #375a7f;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #E74C3C;
    --orange: #fd7e14;
    --yellow: #F39C12;
    --green: #00bc8c;
    --teal: #20c997;
    --cyan: #3498DB;
    --white: #fff;
    --gray: #999;
    --gray-dark: #303030;
    --primary: #375a7f;
    --secondary: #444;
    --success: #00bc8c;
    --info: #3498DB;
    --warning: #F39C12;
    --danger: #E74C3C;
    --light: #303030;
    --dark: #303030; */


header {
  background-color: #375a7f;;
  display: flex;
  /* flex-direction: column; */
  padding: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.logo-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
  font-size: 2rem;
  width: 50%;
}

.logo-div h1 {
  font-size: 5rem;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 0 !important;
}

.logo-div small {
  font-style: italic;
  font-size: 1.2rem;
  /* margin-left: 2rem; */
  color: #3498DB;
  text-shadow: 2px 2px 20px black;
}

.search-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 40%;
  margin-right: 12%;
}

.search-div input {
  height: 2rem;
  font-size: 1.8rem;
}

.toggle-btn {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
  height: 30px;
  width: 30px;
  float: right;
}

.toggle-btn.down {
  background-image: url("./expand-arrow.svg");
}

.toggle-btn.up {
  background-image: url("./collapse-arrow.svg");
}

.hide {
  display: none;
}

.tag-section {
  padding: 0 10%;
}

.tag-section div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem;
}

.tag-section label {
  margin-right: 0.6rem;
  margin-top: 0.6rem;
  width: 140px;
}


ul {
  list-style: none;
  padding: 0;
}

.tag-list ul {
  display: flex !important;
}

.card {
  margin-bottom: 1rem;
  width: 80%;
}

.primary {
  color: #375a7f !important;
}

.links {
  padding: 1rem;
}

.links ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-title {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0 !important;
}

.card-title h2 {
  color: #3498DB ;
}

.card-title img {
  height: 25px;
  width: 25px;
  margin-top: 4px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.card-text {
  color: #999;
  font-size: 1.4rem;
  font-style: italic;
  margin-left: 3.7rem;
  margin-top: 6px;
}

.card-link {
  font-size: 1.4rem;
  margin-left: 3.7rem;
}

.btn-dark {
  font-size: 18px;
  text-shadow: 2px 2px 4px black;
  /* width: 110px; */
}
