/* --blue: #375a7f;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #E74C3C;
    --orange: #fd7e14;
    --yellow: #F39C12;
    --green: #00bc8c;
    --teal: #20c997;
    --cyan: #3498DB;
    --white: #fff;
    --gray: #999;
    --gray-dark: #303030;
    --primary: #375a7f;
    --secondary: #444;
    --success: #00bc8c;
    --info: #3498DB;
    --warning: #F39C12;
    --danger: #E74C3C;
    --light: #303030;
    --dark: #303030; */

:root {
  font-size: 0.6rem;
}

body {
  /* background-color: lightgray; */
}

header {
  /* background-color: steelblue !important; */
  align-items: center;
  /* background-image: linear-gradient(to left bottom, */
    /* #333333, #3b3b45, #3f4457, #3e4f6b, #375a7f); */
  display: flex;
  justify-content: flex-start;
  padding: 1rem 15%;
  box-shadow: 2px 2px 4px gray;
}

.bg-primary {
  background-color: steelblue !important;
}

.logo-div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  width: 30%;
  margin-right: 2rem;
}

.logo-div h1 {
  color: white;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 0 !important;
  /* text-shadow: 2px 2px 8px ; */
}

.logo-div small {
  /* color: #3498DB; */
  font-size: 1.8rem;
  font-style: italic;
  /* text-shadow: 2px 2px 20px black; */
}

.search-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
}

.search-div input {
  font-size: 2.4rem;
  height: 4rem;
}

.toggle-btn {
  border: none !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
  margin: 1% 48%;
  height: 20px;
  width: 20px;
}

.toggle-btn.down {
  background-image: url("./down.png");
}

.toggle-btn.up {
  background-image: url("./up.png");
}

.hide {
  display: none;
}

.tag-section {
  padding: 0 10%;
}

.tag-section div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.tag-section label {
  margin-right: 0.6rem;
  margin-top: 0.6rem;
  width: 15%;
}

.btn-dark {
  background-color: steelblue;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

.tag-list ul {
  display: flex !important;
}

.links {
  /* padding: 1rem; */
}

.links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  /* box-shadow: -1px -1px 1px 1px #375a7f; */
  /* margin-bottom: 1rem; */
  width: 100vw;
  min-height: 7rem;
  border: none;
  outline: 1px solid steelblue;
}

.card-body {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}

.card-title {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0 !important;
  width: 100%;
}

.card-title img {
  height: 15px;
  width: 15px;
  margin-top: 2px;
  margin-right: 1rem;
}

.card-title h2 {
  font-weight: 400;
  font-size: 1.6rem;
}

.card-text {
  font-size: 1.4rem;
  font-style: italic;
}

.card-link {
  font-size: 1.0rem;
  overflow: hidden;
}

.btn-dark {
  font-size: 1.2rem;
}

.link-input {
  display: flex;
  flex-direction: column;
  margin: 2rem 10% 0 10%;
  width: 80%;
  height: 100vh;
}

.link-input label {
  margin-top: 2rem;
}

.link-input input {
  margin-top: 2rem;
}

.multi-tag {
  display: flex;
  justify-content: space-between;
}

#message {
  font-size: 2rem;
}

@media only screen and (max-width: 800px) {
  header {
    flex-direction: column;
  }

  .logo-div,
  .search-div {
    align-items: center;
  }

  .logo-div {
    justify-content: center;
    width: 70%;
  }

  .search-div {
    width: 80vw !important;
  }

  .tag-section {
    margin: 0 auto;
    padding: 4rem 5%;
  }

  .tag-section label {
    width: 80px;
  }

  .card {
    width: 98%;
  }
}
